body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
     background:  rgb(235, 203, 220);; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(236, 166, 228);
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.login-card {
    background: #ffffff;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}


.login-card h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Form Group Styling */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 16px;
    color: #666;
    margin-bottom: 7px;
}

.form-group input {
    width: 100%;
    padding: 20px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

.form-group input:focus {
    border-color: #6a11cb;
}


.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #f0768b;
    color: rgb(62, 7, 7);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
.login-btn:hover  {
    background-color: #1ab5a8;
  }


